/* You can add global styles to this file, and also import other style files */
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";
html,
body {
  height: 100%;
}

table {
  width: 100%;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.color-white {
  color: white;
}

.aling-left {
  text-align: left;
}

.mat-row:hover {
  background-color: #85a6c3;
}

.mat-row {
  cursor: pointer;
}

.alertify-notifier {
  color: white;
}

.aling-right {
  display: flex;
  justify-content: flex-end;
}

.backdrop {
  height: 1500px;
}
.div-container {
  top: 30px;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

.role-margin {
  margin: 0 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mat-list-base {
  padding-top: 0 !important;
}

#rol-header {
  height: 18px;
  width: 42px;
  color: #000;
  font-family: "Century Gothic";
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
}

#username-header {
  height: 18px;
  width: 70px;
  color: #000;
  font-family: "Century Gothic";
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}
app-header {
  margin-right: 60px;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

.highlight-dates {
  background: red;
  border-radius: 100%;
}


.mat-card {
  margin: 0 !important;
}

