<form
[formGroup]="createSeparationForm"
name="createProductForm"
#ngForm="ngForm"
(ngSubmit)="createSeparation()"
autocomplete="off"
>
  <div class="div-container">
    
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button
          style="margin-right: 10px;"
          class="mat-raised-button mat-primary "
          color="primary"
          type="submit"
        >
          <span class="mat-button-wrapper"
            ><mat-icon
              class="mat-icon notranslate material-icons mat-icon-no-color"
              role="img"
              aria-hidden="true"
              >save</mat-icon
            >
            Guardar
          </span>
        </button>

        <a
          [routerLink]="['/productos']"
          class="mat-raised-button"
          color="primary"
          type="button"
        >
          <span class="mat-button-wrapper"
            ><mat-icon
              class="mat-icon notranslate material-icons mat-icon-no-color"
              role="img"
              aria-hidden="true"
              >keyboard_backspace</mat-icon
            >
            Cancelar
          </span>
        </a>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
    </mat-grid-list>

    <div
      class=""
      fxLayout="row wrap"
      style="flex-flow: row wrap; box-sizing: border-box; display: flex;"
    >
      <div
        class=""
        fxFlex="100"
        fxFlex.gt-sm="100"
        style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;"
      >
        <mat-card class="mat-card">
          <mat-card-content class="mat-card-content">
            <mat-card-title class="mat-card-title">Crear</mat-card-title>


            <mat-form-field class="full-width-input">
              <input matInput placeholder="Descripción" [value]="createSeparationForm.get('description').value | titlecase"
                formControlName="description" />
          
              <mat-error *ngIf="createSeparationForm.get('description').errors">
                Descripción es requerido
              </mat-error>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Seleccione un producto</mat-label>
              <mat-select [value]="createSeparationForm.get('productId').value" formControlName="productId">
                <mat-option *ngFor="let item of products" value="{{item.productId}}">{{item.description}}</mat-option>
              </mat-select>
              <mat-error *ngIf="createSeparationForm.get('productId').errors">
                Producto es requerido
              </mat-error>
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Seleccione una Unidad</mat-label>
              <mat-select [value]="createSeparationForm.get('measuresUnit').value" formControlName="measuresUnit">
                <mat-option *ngFor="let item of measuresUnits" value="{{item}}">{{item}}</mat-option>
              </mat-select>
              <mat-error *ngIf="createSeparationForm.get('measuresUnit').errors">
                Unidad es requerido
              </mat-error>
            </mat-form-field>
          
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Cantidad" [value]="createSeparationForm.get('quantity').value"
                formControlName="quantity" />
          
              <mat-error *ngIf="createSeparationForm.get('quantity').errors">
                Cantidad es requerido
              </mat-error>
            </mat-form-field>
          
          

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

</form>

