<form
  [formGroup]="createSubCategoryForm"
  (ngSubmit)="save()"
  class="text-center border border-light p-5 form"
>
  <p class="h4 mb-4">Crear Categoría</p>

  <mat-form-field class="full-width-input">
    <input matInput 
           placeholder="Nombre"            
           [value]="createSubCategoryForm.get('name').value | titlecase"
           formControlName="name" />
    
           <mat-error *ngIf="createSubCategoryForm.get('name').errors">
      Nombre es requerido
    </mat-error>
  </mat-form-field>


  <div >
    <button
      mat-raised-button
      color="primary"
      class="btn-large-50"
      type="submit"
    >
      Guardar
    </button>
    <button
      mat-raised-button
      color=""
      class="btn-large-50"
      type="button"
      (click)="cancel()"
    >
      Cancelar
    </button>
  </div>
</form>
