<form
  [formGroup]="createProductForm"
  (ngSubmit)="save()"
  class="text-center border border-light p-5 form"
>
  <p class="h4 mb-4">Crear Producto</p>

  <mat-form-field class="full-width-input">
    <input matInput 
           placeholder="Nombre"            
           [value]="createProductForm.get('name').value | titlecase"
           formControlName="name" />
    
           <mat-error *ngIf="createProductForm.get('name').errors">
      Nombre es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Seleccione una categoría</mat-label>
    <mat-select [value]="createProductForm.get('parentId').value"
                formControlName="parentId" (selectionChange)="getCategoryByParent($event)">
      <mat-option *ngFor="let item of parents" value="{{item.categoryId}}">{{item.name}}</mat-option>
    </mat-select>
 
  </mat-form-field>


  <mat-form-field>
    <mat-label>Seleccione una sub categoría</mat-label>
    <mat-select [value]="createProductForm.get('categoryId').value"
                formControlName="categoryId">
      <mat-option *ngFor="let item of children" value="{{item.categoryId}}">{{item.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="createProductForm.get('categoryId').errors">
      Categoría es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-input">
    <input matInput 
           placeholder="Descripción"            
           [value]="createProductForm.get('description').value"
           formControlName="description" />
  </mat-form-field>


  <div >
    <button
      mat-raised-button
      color="primary"
      class="btn-large-50"
      type="submit"
    >
      Guardar
    </button>
    <button
      mat-raised-button
      color=""
      class="btn-large-50"
      type="button"
      (click)="cancel()"
    >
      Cancelar
    </button>
  </div>
</form>
