.mat-card {
  margin: 0;
}

.mat-card-subtitle:not(:first-child), .mat-card-title:not(:first-child) {
  margin-top: 8px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}


.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}